.vscode/
authentication-service/node_modules/
config.keys
guardian-service/config.json
guardian-service/config.json
guardian-service/dist/
guardian-service/node_modules/
guardian-service/package-lock.json
interfaces/dist/
interfaces/node_modules/
message-broker/dist/
message-broker/node_modules/
message-broker/package-lock.json
mrv-sender/dist/
mrv-sender/node_modules/
mrv-sender/package-lock.json
ui-service/.env
ui-service/.env
ui-service/.env.docker
ui-service/.env.docker
ui-service/.vs/
ui-service/dist/
ui-service/node_modules/
ui-service/package-lock.json
ui-service/public/package-lock.json
vc-modules/dist/
vc-modules/node_modules/
vc/dist/
vc/node_modules/
www-data/